body{
    margin: 0;
}
header{
    max-height: 768px;
    margin: 0 auto;
}
header .container{
    height: inherit;
    margin: 0 auto ;
}
.nav{
    width: 943px;
    height: 88px;
    list-style: none;
    align-items: center;
    margin: 0 auto ;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 940px;
    height: 87px;
    list-style: none;
    margin: 0 auto;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
}
.container .nav ul li:not(:last-child) {
    margin-right: 155px;
}
.container .nav ul li:not(:first-child) {
    color: rgba(130, 130, 130, 1);
}
.nav a{
    font-size: 1.125em; 
    font-weight: 600;
    font-family: sans-serif;
}
.container .info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* width: 100%; */
    margin: 0 auto;
    max-width: 945px;
}
.container .svg{
    justify-content: center;
}
.container img{
    margin: 0 auto;
}
.container .info h1{
    font-family: 'Rubik',sans-serif;
    font-size: 2.9587em;
    font-weight: bold;
}
.container .info .info1{
    font-family: 'Rubik',sans-serif;
    font-size: 1.125em;
    font-weight: normal;
    justify-self: center;
    align-self: center;
}
.container .info .info2{
    font-family: 'Rubik',sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: #828282;
    transform: rotate(-90deg);
    justify-self: center;
    margin-top: 0;
}
/*Раздел main*/
/*Секция 1*/
.main{
    width: inherit;
    margin: 0 auto ;
}
.main .section1{
    height: 506px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #F6F6F6;
}
.section1 h2{
    text-align: center;
    font-family: 'Rubik',sans-serif;
    font-size: 2.125em;
    margin-bottom: 17.69px;
    margin-top: 120.25px;
}
.section1 p{
    text-align: center;
    font-family: 'Rubik',sans-serif;
    font-size: 1.125em;
    width: 485.34px;
    margin-bottom: 107px;
}
/*Секция 2*/
.section2{
    height: 610px;
    display: flex;
    flex-flow:column;
}
.section2 h2{
    font-family: 'Rubik',sans-serif;
    font-size: 2.125em;
    text-align: center;
    margin-bottom: 69.1px;
    margin-top: 91px;
}
.section2 span{
    font-family: 'Rubik',sans-serif;
    font-size: 1.125em;
    text-align: center;
    margin-bottom: 83.49px;
}
.skills{
    display: grid;
    grid-template-columns: repeat(auto-fill, 168px);
    grid-gap: 129px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 111.6px;
    margin-left: 220px;
    margin-right: 220px;
}
/*Секция 3*/
.section3 {
    height: 2253px;
    display: flex;
    flex-flow:column;
    background-color: #F6F6F6;
}
.section3 h2{
    font-family: 'Rubik',sans-serif;
    font-size: 2.125em;
    text-align: center;
    margin-top: 47px;
}
.section3 img{
    width: 58.515em;
    height: 32.625em;
    margin-left: 16.0625em;
    /* margin-bottom: 2.8125em; */
    margin: 0 auto ;
}
.section3 a{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Rubik',sans-serif;
    margin-bottom: 6.25em;
}
/*Футер*/
.footer{
    max-height: 622px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.footer h2{
    font-family: 'Rubik',sans-serif;
    font-size: 2.125em;
    text-align: center;
    margin-top: 47px;
    margin-top: 114.24px;
}
.footer span{
    text-align: center;
    font-family: 'Rubik',sans-serif;
    font-size: 1.125em;
    margin-top: 20.03px;
}
.footer .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166.46px;
    height: 38px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-family: 'Rubik',sans-serif;
    font-size: 1.125em;
    margin-top: 29.6px;
}
.footer .icons{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.footer .icons :not(:last-child){
    margin-right: 61px;
}
.footer span{
    margin-top: 46px;
    font-family: 'Rubik',sans-serif;
    font-size: 0.875em;
    color: #828282;
}
@media screen and (max-width: 415px) {
    .header{
        height: 300px;
    }
    .nav{
        display: none;
    }
    .info{
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .info svg{
        display: none;
    }
    .info h1{
        font-size: 1.875em;
        margin:20px auto;
    }
    .info .info2{
        display: none;
    }
    .info img{
        max-width: 414px;
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .section1, .section2, .section3{
        width: 100%;
    }
    .section1 p{
        font-size: 15px;
        width: 316px;
    }
    .section2{
        height: 1421px;
    }
    .section2 h2{
        margin-bottom: 50px;
    }
    .skills{
        margin: 0 auto;
        grid-gap: 81px;
    }
    .section3{
        height: 1450px;
    }
    .section3 h2{
        margin-top: 81px;
        margin-bottom: 64.94px;
    }
    .section3 img{
        width: 316px;
        height: 176px;
        margin-bottom: 35px;
        margin-top: 77.97px;
        margin-left: auto;
        margin-right: auto;
    }
    .section3 a{
        text-decoration: none;
        margin: 33px auto 78px auto;
        color: black;
    }
    .footer{
        height: 569px;
        
    }
    .footer h2{
        margin-top: 82px;
    }
    }
