.container{
    display: grid;
    height: 90vh;
    width: 100vw;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 1fr 15%;
    grid-template-areas: 
        "header header header header"
        "sidebar main main main"
        "footer footer footer footer";
}
.header{
    background: #8686e9;
    grid-area: header;
}
.main{
    background-color: #b8e986;
    grid-area: main;
}
.sidebar{
    background: #dde986;
    grid-area: sidebar;
}
.nav-item{
    padding: 5px;
    font-size: 2em;
}
.menu{
    display: flex;
    justify-content: flex-end;
    width: 95%;
}
.pict{
    width: 100%;
    max-width: 100%;
    height: 400px;
}
.pictContainer{
    width: 50%;
}
.footer{
    background: #e9c886;
    grid-area: footer;
}